doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Feeds
    link(rel='stylesheet', href='layout.css')
  body
    h1 Feeds
    each post in postData
      article
        h2
          a(href= post.url)= post.blogTitle
        h3
          a(href= post.url)= post.itemTitle
        p.date= post.date
        != post.description
